In [13]:
import pandas as pd
surveys_df = pd.read_csv("data/surveys.csv")

In [2]:
surveys_df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [3]:
surveys_df['record_id'].dtype

dtype('int64')

In [5]:
surveys_df['record_id'] = surveys_df['record_id'].astype(str).dtype    # manipulation if you want to add string and int
                                            # convert into int and add

In [6]:
surveys_df.dtypes

record_id           object
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [14]:
#surveys_df['weight'] = surveys_df['weight'].fillna(0)
surveys_df['weight'] = surveys_df['weight'].fillna(surveys_df['weight'].mean())

In [15]:
surveys_df.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,42.672428
1,2,7,16,1977,3,NL,M,33.0,42.672428
2,3,7,16,1977,2,DM,F,37.0,42.672428
3,4,7,16,1977,7,DM,M,36.0,42.672428
4,5,7,16,1977,3,DM,M,35.0,42.672428

In [11]:
# surveys_df = surveys_df.fillna(surveys_df.mean())   # adds all the missing value with mean for numerical values

In [17]:
# write to csv
surveys_df.to_csv('data_output\surveys_complete.csv',index=False)